<!--ふわっ-->
<div class="flex">
  <div class="box fadeIn">ふわっ（その場で）</div>
  <div class="box fadeUp">ふわっ（下から）</div>
  <div class="box fadeDown">ふわっ（上から）</div>
  <div class="box fadeLeft">ふわっ（左から）</div>
  <div class="box fadeRight">ふわっ（右から）</div>
</div>

<div class="flex">
  <div class="box flipDown">パタッ（下へ）</div>
  <div class="box flipLeft">パタッ（左へ）</div>
  <div class="box flipLeftTop">パタッ（左上へ）</div>
  <div class="box flipRight">パタッ（右へ）</div>
  <div class="box flipRightTop">パタッ（右上へ）</div>
</div> 


<script src="js/top.js"></script>