<!--ふわっ-->
<div class="flex">
  <div class="box fadeIn">ふわっ（その場で）</div>
  <div class="box fadeUp">ふわっ（下から）</div>
  <div class="box fadeDown">ふわっ（上から）</div>
  <div class="box fadeLeft">ふわっ（左から）</div>
  <div class="box fadeRight">ふわっ（右から）</div>
</div>